<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style scoped>
#custom-doc { width: 95%; min-width: 950px; }
#userTweets {
    margin:10px 10px 10px 10px;
    width:90%;
    max-width: 1000px;;
    height:1000px;
}
</style>
<title>Insert title here</title>
</head>
<body>

<div id="userTweets"></div>

<span id="" wicket:id="timeLine">
 <table wicket:id="grid" style="width:100%;height:200px">
    </table>
</span>


</body>
</html>